<!DOCTYPE html> 
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="author" content="" />
		<meta name="copyright" content="" />
		<meta name="robots" content="index, follow" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<title>App Template</title>
		<link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen,projection" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="index" title="" href="" />
		<!--[if lt IE 9 ]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]--> 
	</head>
	<body class="" lang="en-US">
		<header class="page-header">
			<a class="left menu-toggle" href="#">Menu</a>
			<div class="qr">
				<div class="qr-container" id="qr"></div>
				<div class="qr-text">ID: 1234567</div>
			</div>
			<a href="#" class="right printer">Printer</a>
		</header>
		<main class="page-content">
			<div class="form">
				<div class="form-item">
					<label class="form-label">Name</label>
					<div class="form-input">Voon Loong Liang</div>
				</div>
				<div class="form-item">
					<label class="form-label">Event</label>
					<div class="form-input">Bank Tech Asia 2017 Malaysia</div>
				</div>
				<div class="form-item">
					<label class="form-label">Ticket/ Seat</label>
					<div class="form-input">Standard</div>
				</div>
				<div class="form-item">
					<label class="form-label">Date</label>
					<div class="form-input">Thu, 22 Nov 2017 - Fri, 23 Nov 2019<br/>9:00AM MYT - 5:59PM MYT</div>
					<div class="form-input-action"><a class="action-btn" href="#">Add as calender</a></div>
				</div>
				<div class="form-item">
					<label class="form-label">Location</label>
					<div class="form-input">KL Convention Center Jalan Pinang Kuala Lumpur</div>
					<div class="form-input-action"><a class="action-btn" href="#">Give me a direction</a></div>
				</div>
				<div class="form-item">
					<label class="form-label">Organizer</label>
					<div class="form-input">Knowledge Group</div>
					<div class="form-input-action"><a class="action-btn" href="#">View more event listing</a></div>
				</div>
			</div>
		</main>
		<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="js/sticky-kit.min.js"></script>
		<script type="text/javascript" src="js/skrollr.min.js"></script>
		<script type="text/javascript" src="js/qrcode.min.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>