:root{
	font-size: 16px;
	font-family: 'Varela Round', sans-serif;
}

html, body{
	margin: 0;
	background-color: #2ecc71;
}

.reward-wrapper{
	background-color: rgba(255,255,255,0.2);
	max-width: 350px;
	margin: auto;
	height: auto;
	position: fixed;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 0.5rem;
	padding: 1rem;
	overflow: hidden;
	box-sizing: border-box;
}

.confetti{
	transform: scale(0);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 0;
}

.success{
	position: relative;
	top: 2rem;
	left: 0;
	right: 0;
	perspective: 30rem;
	z-index: 1;
	margin-bottom: 5rem;
}

.success-message {
	margin: 2rem auto;
	text-align: center;
	color: #fff;
	display: block;
	font-size: 1.25rem;
}

.success .success-icon{
	border-radius: 50%;
	background-color: rgba(0,0,0,0.15);
	padding: 2rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 12rem;
	height: 12rem;
	margin: auto;
	transform-style: preserve-3d;
}

.success .success-icon svg{
	transform: translateZ(1rem);
}

.btn{
	display: block;
	width: 90%;
	margin: auto;
	height: 3rem;
	border-radius: 2rem;
	background-color: rgba(0,0,0,0.15);
	color: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	border: 0;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	transition-timing-function: ease-in-out;
	transition-duration: 200ms;
}

.btn:active{
	background-color: rgba(0,0,0,0.35);
}